p{
	text-align: center;
}

h1 {
	text-align: center;
}

#grid{
	width: 450px;
	height: 450px;
	background-color: none;
	margin: 40px auto;
	border: 20px solid red;

}

td {
	background-color: white;
    color: white;
    /*height: 30px;
    width: 30px;*/
    margin: 40px auto;

}

/*#board{
	background-color: orange;
	height: 400px;
    width: 400px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;

}*/


/*.container {
    width: 500px;
    height: 500px;
    margin: auto;
    background-color: red;
    border: 60px solid #DD2900;
    /*box-shadow: 10px 10px 0px 3px #888888;
}*/


.buttons {

	width: 100%
	background-color: none;
	height: 15px;
	text-align: center;

}

